@*<div class="col-lg-8 mt-5 mt-lg-0">

    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <input type="text" name="AdSoyad" class="form-control" id="name" placeholder="İsim" data-rule="minlen:4" data-msg="!!!" />
                <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="Mail" id="email" placeholder="Email" data-rule="email" data-msg="!!!" />
                <div class="validate"></div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Konu" id="subject" placeholder="Konu" data-rule="minlen:4" data-msg="!!!" />
            <div class="validate"></div>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="Mesaj" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mesaj"></textarea>
            <div class="validate"></div>
        </div>
        <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Mesajınız gönderildi.Teşekkür ederim!</div>
        </div>
        <div class="text-center"><button type="submit">Gönder</button></div>
    </form>

</div>*@
